@model ASP_Project_DHS.Models.TaiKhoan
@using ASP_Project_DHS.Helpers

@section view_banner{
    <!--banner-->
    <div class="main-container container">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
            <li class="active">Đổi mật khẩu</li>
        </ol>
    </div>
    <!--banner-->
}

@section css{
    <link href="~/assets/css/account.style.css" rel="stylesheet" />
    <link href="~/assets/bootstrap-datepicker-master/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
}

@section js{
    <script src="~/assets/jquery-validation-1.16.0/jquery.validate.min.js"></script>
    <script type="text/javascript">
        //JS Kiểm tra tính đúng đắn thông tin nhập vào
        jQuery.validator.setDefaults({
            highlight: function (element, errorClass, validClass) {
                if (element.type === "radio") {
                    this.findByName(element.name).addClass(errorClass).removeClass(validClass);
                } else {
                    $(element).closest('.form-group').removeClass('has-success has-feedback').addClass('has-error has-feedback');
                    $(element).closest('.form-group').find('i.fa').remove();
                    $(element).closest('.form-group').append('<i class="fa fa-exclamation fa-lg form-control-feedback"></i>');
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                if (element.type === "radio") {
                    this.findByName(element.name).removeClass(errorClass).addClass(validClass);
                } else {
                    $(element).closest('.form-group').removeClass('has-error has-feedback').addClass('has-success has-feedback');
                    $(element).closest('.form-group').find('i.fa').remove();
                    $(element).closest('.form-group').append('<i class="fa fa-check fa-lg form-control-feedback"></i>');
                }
            }
        });

        $("#frmChangePassword").validate({
            rules: {                
                RawPWDOld: {
                    required: true,
                    minlength: 6
                },
                CPWD: {
                    required: true,
                    equalTo: '#txtPWDNew'
                },
                RawPWDNew: {
                    required: true,
                    minlength: 6
                },
            },

            messages: {      
                RawPWDOld: {
                    required: 'Vui lòng nhập mật khẩu!',
                    minlength: 'Mật khẩu phải tối thiểu 6 ký tự!'
                },
                CPWD: {
                    required: 'Vui lòng nhập lại mật khẩu!',
                    equalTo: 'Mật khẩu nhập lại không khớp!'
                },
                RawPWDNew: {
                    required: 'Vui lòng nhập mật khẩu!',
                    minlength: 'Mật khẩu phải tối thiểu 6 ký tự!'
                },
            },

            errorElement: 'span',
            errorClass: 'help-block',
        });

    </script>
}

<!-- Main Container Starts -->
<div class="main-container container">
    <!-- Main Heading Starts -->
    <h2 class="main-heading text-center">
       Đổi mật khẩu
    </h2>
    <!-- Main Heading Ends -->
    <!-- Change Password Section Starts -->
    <section class="registration-area">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <!--Alert (Thông báo) Starts-->
                @if (ViewBag.Mess == true)
                {
                    <div class="alert alert-success alert-dismissible alert-dhs" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Chúc mừng!</strong> Bạn đã đổi mật khẩu thành công!!!
                    </div>
                }
                @if (ViewBag.Mess == false)
                {
                    <div class="alert alert-warning alert-dismissible alert-dhs" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Xin lỗi!</strong> Bạn đổi mật khẩu không thành công! Vui lòng thử lại!
                    </div>
                }
                <!--Alert (Thông báo) Ends-->
                <!-- Change Password Block Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Mật khẩu
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!-- Change Password Form Starts -->
                        <form class="form-horizontal" role="form" method="post" action="" id="frmChangePassword">
                            <!-- Password Area Starts -->
                            <div class="form-group">
                                <label for="txtUserName" class="col-sm-3 control-label">Tên đăng nhập</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtUserName" placeholder="Tên đăng nhập" readonly value="@CurrentContext.GetCurUser().TenDangNhap">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtPWDOld" class="col-sm-3 control-label">Mật khẩu cũ</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="txtPWDOld" placeholder="Password" autofocus="autofocus" name="RawPWDOld">
                                </div>
                            </div>    
                            <div class="form-group">
                                <label for="txtPWDNew" class="col-sm-3 control-label">Mật khẩu mới</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="txtPWDNew" placeholder="Password" name="RawPWDNew">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtCPWD" class="col-sm-3 control-label">Nhập lại mật khẩu</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="txtCPWD" placeholder="Password" name="CPWD">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-success">
                                        <i class="fa fa-check"></i>
                                        Đổi mật khẩu
                                    </button>
                                </div>
                            </div>
                            <!-- Password Area Ends -->
                        </form>
                        <!-- Change Password Form Starts -->
                    </div>
                </div>
                <!-- Change Password Block Ends -->
            </div>
            <div class="col-sm-3"></div>
        </div>
    </section>
    <!-- Change Password Section Ends -->
</div>
<!-- Main Container Ends -->
