USE [QLDauGia]
GO
/****** Object:  Table [dbo].[ChiTietDauGia]    Script Date: 7/2/2017 9:31:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDauGia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_DauGia] [int] NOT NULL,
	[ID_TaiKhoanThamGiaDauGia] [int] NULL,
	[GiaGanNhat] [money] NULL,
	[NgayThamGiaDauGiaGanNhat] [datetime] NULL,
	[BiCam] [bit] NULL,
	[GiaHienTaiLucDat] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ID_DauGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMucLon]    Script Date: 7/2/2017 9:31:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucLon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](255) NULL,
	[TinhTrang] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMucNho]    Script Date: 7/2/2017 9:31:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucNho](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](255) NULL,
	[ID_DanhMucLon] [int] NOT NULL,
	[TinhTrang] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ID_DanhMucLon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DauGia]    Script Date: 7/2/2017 9:31:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DauGia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](255) NULL,
	[MoTa] [nvarchar](100) NULL,
	[MoTaDayDu] [ntext] NULL,
	[GiaKhoiDiem] [money] NULL,
	[GiaMuaNgay] [money] NULL,
	[BuocNhay] [money] NULL,
	[YeuCauDanhGia] [int] NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[GiaHanTuDong] [bit] NULL,
	[ID_NguoiDauGia] [int] NULL,
	[GiaCaoNhatHienTai] [money] NULL,
	[ID_DanhMucNho] [int] NOT NULL,
	[SoLuongHinh] [int] NULL,
	[ID_NguoiGiuGia] [int] NULL,
	[DanhGia] [bit] NULL DEFAULT ((0)),
	[NguoiBanDanhGia] [bit] NULL,
	[GuiMailThatBai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ID_DanhMucNho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanXet]    Script Date: 7/2/2017 9:31:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanXet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_NguoiDanhGia] [int] NULL,
	[ID_NguoiDuocDanhGia] [int] NULL,
	[ID_DauGia] [int] NULL,
	[LoiNhanXet] [varchar](255) NULL,
	[Like] [bit] NULL,
	[Ngay] [datetime] NULL,
	[LaNguoiBan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 7/2/2017 9:31:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](255) NULL,
	[HoTen] [nvarchar](255) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](255) NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[MatKhau] [nvarchar](255) NULL,
	[Diem] [int] NULL CONSTRAINT [DF_TaiKhoan1_Diem]  DEFAULT ((0)),
	[DanhGiaTot] [int] NULL CONSTRAINT [DF_TaiKhoan1_DanhGiaTot]  DEFAULT ((0)),
	[DanhGiaXau] [int] NULL CONSTRAINT [DF_TaiKhoan1_DanhGiaXau]  DEFAULT ((0)),
	[Quyen] [bit] NULL CONSTRAINT [DF_TaiKhoan1_Quyen]  DEFAULT ((0)),
	[Vip] [bit] NULL CONSTRAINT [DF_TaiKhoan1_Vip]  DEFAULT ((0)),
	[ThoiGianXinBan] [datetime] NULL,
	[ResetPass] [bit] NULL DEFAULT ((0)),
	[TonTai] [bit] NULL CONSTRAINT [DF_TaiKhoan1_TonTai]  DEFAULT ((1)),
 CONSTRAINT [PK_TaiKhoan1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[YeuThich]    Script Date: 7/2/2017 9:31:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuThich](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_NguoiThich] [int] NULL,
	[ID_DauGia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ChiTietDauGia] ON 

INSERT [dbo].[ChiTietDauGia] ([ID], [ID_DauGia], [ID_TaiKhoanThamGiaDauGia], [GiaGanNhat], [NgayThamGiaDauGiaGanNhat], [BiCam], [GiaHienTaiLucDat]) VALUES (1, 4, 1, 39500000.0000, CAST(N'2017-06-24 16:39:31.197' AS DateTime), NULL, 39000000.0000)
INSERT [dbo].[ChiTietDauGia] ([ID], [ID_DauGia], [ID_TaiKhoanThamGiaDauGia], [GiaGanNhat], [NgayThamGiaDauGiaGanNhat], [BiCam], [GiaHienTaiLucDat]) VALUES (2, 35, 1, 450000.0000, CAST(N'2017-06-24 16:44:50.477' AS DateTime), NULL, 440000.0000)
INSERT [dbo].[ChiTietDauGia] ([ID], [ID_DauGia], [ID_TaiKhoanThamGiaDauGia], [GiaGanNhat], [NgayThamGiaDauGiaGanNhat], [BiCam], [GiaHienTaiLucDat]) VALUES (3, 42, 1, 60000.0000, CAST(N'2017-06-24 16:45:15.720' AS DateTime), NULL, 50000.0000)
SET IDENTITY_INSERT [dbo].[ChiTietDauGia] OFF
SET IDENTITY_INSERT [dbo].[DanhMucLon] ON 

INSERT [dbo].[DanhMucLon] ([ID], [Ten], [TinhTrang]) VALUES (1, N'Xe cộ', NULL)
INSERT [dbo].[DanhMucLon] ([ID], [Ten], [TinhTrang]) VALUES (2, N'Thời trang', NULL)
INSERT [dbo].[DanhMucLon] ([ID], [Ten], [TinhTrang]) VALUES (3, N'Nội, ngoại thất', NULL)
SET IDENTITY_INSERT [dbo].[DanhMucLon] OFF
SET IDENTITY_INSERT [dbo].[DanhMucNho] ON 

INSERT [dbo].[DanhMucNho] ([ID], [Ten], [ID_DanhMucLon], [TinhTrang]) VALUES (1, N'Xe máy', 1, NULL)
INSERT [dbo].[DanhMucNho] ([ID], [Ten], [ID_DanhMucLon], [TinhTrang]) VALUES (2, N'Xe đạp', 1, NULL)
INSERT [dbo].[DanhMucNho] ([ID], [Ten], [ID_DanhMucLon], [TinhTrang]) VALUES (3, N'Ô tô', 1, NULL)
SET IDENTITY_INSERT [dbo].[DanhMucNho] OFF
SET IDENTITY_INSERT [dbo].[DauGia] ON 

GO
SET IDENTITY_INSERT [dbo].[DauGia] OFF
SET IDENTITY_INSERT [dbo].[NhanXet] ON 

INSERT [dbo].[NhanXet] ([ID], [ID_NguoiDanhGia], [ID_NguoiDuocDanhGia], [ID_DauGia], [LoiNhanXet], [Like], [Ngay], [LaNguoiBan]) VALUES (1, 1, 1, 13, N'Message...', 1, CAST(N'2017-06-05 17:51:15.667' AS DateTime), 0)
INSERT [dbo].[NhanXet] ([ID], [ID_NguoiDanhGia], [ID_NguoiDuocDanhGia], [ID_DauGia], [LoiNhanXet], [Like], [Ngay], [LaNguoiBan]) VALUES (2, 1, 2, 4, N'không có gì', 1, CAST(N'2017-06-07 18:39:27.577' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[NhanXet] OFF
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([ID], [TenDangNhap], [HoTen], [SoDienThoai], [Email], [NgaySinh], [DiaChi], [MatKhau], [Diem], [DanhGiaTot], [DanhGiaXau], [Quyen], [Vip], [ThoiGianXinBan], [ResetPass], [TonTai]) VALUES (1, N'dhs', N'dhs', N'016885696', N'admin@gmail.com', CAST(N'1996-01-18 00:00:00.000' AS DateTime), N'Việt Nam', N'e10adc3949ba59abbe56e057f20f883e', 1000, 100, 0, 0, 1, NULL, 0, 0)
INSERT [dbo].[TaiKhoan] ([ID], [TenDangNhap], [HoTen], [SoDienThoai], [Email], [NgaySinh], [DiaChi], [MatKhau], [Diem], [DanhGiaTot], [DanhGiaXau], [Quyen], [Vip], [ThoiGianXinBan], [ResetPass], [TonTai]) VALUES (2, N'test00', N'test 00', N'0123456789', N'test01@gmail.com', CAST(N'1996-01-19 00:06:00.000' AS DateTime), N'Tân Bình', N'e10adc3949ba59abbe56e057f20f883e', 0, 0, 0, 0, 1, CAST(N'2017-06-25 11:53:03.943' AS DateTime), 0, 1)
INSERT [dbo].[TaiKhoan] ([ID], [TenDangNhap], [HoTen], [SoDienThoai], [Email], [NgaySinh], [DiaChi], [MatKhau], [Diem], [DanhGiaTot], [DanhGiaXau], [Quyen], [Vip], [ThoiGianXinBan], [ResetPass], [TonTai]) VALUES (3, N'test01', N'test 01', N'0125478956', N'test01@gmail.com', CAST(N'1996-01-25 00:07:00.000' AS DateTime), N'Tân Phú', N'e10adc3949ba59abbe56e057f20f883e', 0, 4, 0, 0, 1, CAST(N'2017-06-25 10:17:45.093' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
SET IDENTITY_INSERT [dbo].[YeuThich] ON 

INSERT [dbo].[YeuThich] ([ID], [ID_NguoiThich], [ID_DauGia]) VALUES (1, 1, 8)
INSERT [dbo].[YeuThich] ([ID], [ID_NguoiThich], [ID_DauGia]) VALUES (2, 1, 11)
INSERT [dbo].[YeuThich] ([ID], [ID_NguoiThich], [ID_DauGia]) VALUES (3, 1, 9)
SET IDENTITY_INSERT [dbo].[YeuThich] OFF
