
@using ASP_Project_DHS.Models
@using PagedList.Mvc
@model PagedList.IPagedList<DauGia>
@{
    ViewBag.Title = "TheoSanPham";
}
@section view_banner{
    <!--Banner Starts-->
    <div class="main-container container">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
            <li class="active">Sản phẩm theo danh mục</li>
        </ol>
    </div>
    <!--Banner Ends-->
}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-smart">
                <div class="panel-heading">
                    <h3 class="panel-title"> Thêm Sản Phẩm </h3>
                </div>
                <hr />
                <form method="post" action="">
                    @*<div class="form-group">
                        <h5 style="width:20px;color:red;">ID:</h5>
                        <input type="text" name="ID" />
                    </div>*@
                    <div class="form-group">
                        <h5 style="width:20px;color:red;">Tên:</h5>
                        <input type="text" name="Ten" />
                    </div>
                    <button type="submit" class="btn btn-success"> Đồng Ý </button>
                    <a href="@Url.Action("XuatDanhMucNho","DanhMucNho")" class="btn btn-danger">
                        Quay Về
                    </a>
                    <br />
                </form>
            </div>
        </div>
    </div>
</div>

