<div class="header-right2">
    <form id="frmxemyeuthich" method="post" action="@Url.Action("Index", "QuanLyTaiKhoan")"></form>
    <a id="xemyeuthich" href="javascript:;">
        <h3 style="color:white">
            <i class="fa fa-heart fa-2x" aria-hidden="true" style="margin-right:10px"><span id="slyeuthich">@ViewBag.SL</span></i>
        </h3>
    </a>
    <div class="clearfix"> </div>
</div>
